/* *************réglage page d'accueil*************** */

/* réglages commun */
@keyframes anim {
  from {scale:  1;}
  to   {scale:  1.1;}
}

.background-commun:hover{
  border: 2px solid rgb(107, 248, 248);
  box-shadow: 0px 0px 50px rgba(107, 248, 248, 0.5);
  animation: anim 0.5s linear forwards;
  opacity: 1;
  z-index:1
}

.btn-invest{
  background-color: #fff;
  border: 1px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  border-radius: 30px;
  font-weight: 500;
  position: relative;
  top: 10px;
  padding: 0 10px 3px 10px;
}
/* .btn-invest:hover{
  background-color: rgb(0, 0, 0);
  border: 1px solid #000000;
  color: rgb(255, 255, 255);
} */

.titre-h3{
  font-weight:bold;
  padding: 10px 0;
  text-transform: uppercase; 
}

/* investissement locatif */
.background-invest-loc{
  background-image: url("images/invest-locatif.jpg");
  border-radius: 20px;
  height: 400px;
  background-position: center;
  background-size: cover;
  opacity: 0.7;
}



/* placements */

.background-placements{
  background-image: url("images/placements.jpg");
  border-radius: 20px;
  height: 400px;
  background-position: center;
  background-size: cover;
  margin-left: 10px;
  opacity: 0.7;
}

.btn-placements{
  background-color: #fff;
  border: 1px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  border-radius: 30px;
  font-weight: 500;
  position: relative;
  top: 95px;
  display: flex;
  justify-content: center;
  padding: 0 10px 3px 10px;
}
/* .btn-placements:hover{
  background-color: rgb(0, 0, 0);
  border: 1px solid #000000;
  color: rgb(255, 255, 255);
} */

.padding-placements{
  padding-top: 180px
}

/* crédit */

.background-credit{
  background-image: url("images/credit-rachat.jpg");
  border-radius: 20px;
  height: 190px;
  background-position: center;
  background-size: cover;
  opacity: 0.7;
}

.btn-credit{
  background-color: #fff;
  border: 1px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  border-radius: 30px;
  font-weight: 500;
  position: relative;
  top: 55px;
  padding: 0 10px 3px 10px;
  display: flex;
  justify-content: center;
}
/* .btn-credit:hover{
  background-color: rgb(0, 0, 0);
  border: 1px solid #000000;
  color: rgb(255, 255, 255);
} */

/* parrainage */

.background-parrainage{
  background-image: url("images/piggy-bank-2889042_1280.jpg");
  border-radius: 20px;
  height: 190px;
  background-position: center;
  background-size: cover;
  opacity: 0.7;
}

.background-parrainage h3{
  margin-top: 90px;
}

.btn-parrainage {
  background-color: #fff;
  border: 1px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  border-radius: 30px;
  font-weight: 500;
  position: relative;
  /* padding: 0 10px 3px 10px; */
  display: flex;
  justify-content: center; 
  top: 95px ; 
}
/******************** css 2ème row *****************/

/* impots */
.background-impots{
  background-image: url("images/money-2724235_1280.jpg");
  border-radius: 20px;
  height: 290px;
  background-position: center;
  background-size: cover;
  opacity: 0.7;
}

/* simuation */

.background-simulation{
  background-image: url("images/success-6595539_1280.png");
  border-radius: 20px;
  height: 290px;
  background-position: center;
  background-size: cover;
  margin-left: 12px;
  opacity: 0.7;
}
.btn-simulation{
  display: flex;
  justify-content: center;
  margin-top: 170px;
  background-color: #fff;
  border: 1px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  border-radius: 30px;
  font-weight: 500;
 
}

/* residence principale */

.background-proprietaire{
  background-image: url("images/batiment-haussmanien.jpg");
  border-radius: 20px;
  height: 290px;
  background-position: center;
  background-size: cover;
  opacity: 0.7;
}

/* ************** PAGE INVESTISSEMENT LOCATIF ************** */
/* couleur générale des boutons */
.bouton{
  border: 2px solid rgb(96, 217, 217) ;
  background-color: #fff;
  color: rgb(96, 217, 217);
  border-radius: 10px;
}
.bouton:hover{
  color: #fff;
  background-color: rgb(96, 217, 217);
}

/* contour du fond blanc des pages */
.contour{
  border: 3px solid rgb(107, 248, 248) ;
  border-radius: 30px;
  box-shadow: 0 0 30px rgba(107, 248, 248, 0.5) ;
}

/* couleur des titres principaux des pages */
.color-title{
  color: rgb(96, 217, 217);
}