{% extends "bootstrap.html.twig" %}

{% block body %}

<div class="container text-light">
{# 1ère row*************************** #}
<div class="row ">

  {# colonne investissement locatif #}
  <div class="col col-lg-5 background-invest-loc background-commun">
    <h3 class="titre-h3">investissement locatif</h3>
      <button class="btn-invest">Revenus complémentaires</button>
  </div>

  {# colonne placements #}
  <div class="col col-lg-3  background-placements background-commun mb-2 text-center">
    <h3 class="titre-h3 padding-placements">placements</h3>
      <h5 class="text-light">SCPI</h5>
      <button class="btn-placements mx-auto text-center">Penser à ses proches</button>
  </div>

  
  <div class="col col-lg-3 ">
    {# colonne crédit #}
    <div class="background-credit background-commun">
        <h3 class="titre-h3 px-2">crédit</h3>
        <h5 class="text-light px-2">Rachat</h5>
        <button class="btn-credit text-center mx-auto">Des taux avantageux</button>
    </div>
    {# colonne parrainage #}
    <div class="background-parrainage background-commun mt-3 text-center">
        <button class="btn-parrainage mx-auto text-center">Recevez 500€</button>
      <h3 class="titre-h3">parrainage</h3>
    </div>
  </div> 

</div>

{# fin de la 1ère row ******** #}

{# **************** début 2ème row************************* ###} 
<div class="row">
   <div class="col col-lg-4 background-impots background-commun">
    <h3 class="titre-h3 mt-5">réduction d'impôts</h3>
    <h5>Loi Pinel</h5>
    <button class="text-center btn-invest">Faire fructifier ses impôts</button>
  </div>

  {# colonne placements #}
  <div class="col col-lg-2 background-simulation background-commun">
    <h3 class="titre-h3">simuler vos mensualités</h3>
    <button class="btn-simulation mx-auto">se projeter</button>
  </div>

  
  <div class="col col-lg-5 ">
    {# colonne crédit #}
    <div class="background-proprietaire background-commun text-center">
    <h3 class="titre-h3">résidence principale</h3>
    <h5>Achat - Location</h5>
    <button class="text-center btn-invest mt-5">Devenir propriétaire</button>
</div>

</div>

{% endblock %}