{% extends "bootstrap.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}

<div class="container text-light">
{# 1ère row*************************** #}
<div class="row ">

  {# colonne investissement locatif #}
  <a href="{{path("investissement_locatif")}}" class="col col-lg-5 mb-2 responsive-invest background-invest-loc background-commun text-decoration-none text-light">
    <h3 class="titre-h3">investissement locatif</h3>
      <button class="btn-invest">Revenus complémentaires</button>
  </a>

  {# colonne placements #}
  <div class="col col-lg-3  background-placements background-commun responsive-placements text-center">
    <h3 class="titre-h3 padding-placements">placements</h3>
      <h5 class="text-light">SCPI</h5>
      <button class="btn-placements mx-auto text-center">Penser à ses proches</button>
  </div>

  
  <div class="col col-lg-3 ">
    {# colonne crédit #}
    <div class="background-credit background-commun">
        <h3 class="titre-h3 px-2">crédit</h3>
        <h5 class="text-light px-2">Rachat</h5>
        <button class="btn-credit text-center mx-auto">Des taux avantageux</button>
    </div>
    {# colonne parrainage #}
    <div class="background-parrainage background-commun  text-center responsive-parrainage">
        <button class="btn-parrainage mx-auto text-center">Recevez 500€</button>
      <h3 class="titre-h3">parrainage</h3>
    </div>
  </div> 

</div>

{# fin de la 1ère row ******** #}

{# **************** début 2ème row************************* ###} 
<div class="row">
   <div class="col col-lg-4  background-impots background-commun responsive-reduc-impot">
    <h3 class="titre-h3 mt-5">réduction d'impôts</h3>
    <h5>Loi Pinel</h5>
    <button class="text-center btn-invest">Faire fructifier ses impôts</button>
  </div>

  {# colonne placements #}
  <div class="col col-lg-2  background-simulation background-commun responsive-mensualites">
    <h3 class="titre-h3">simuler vos mensualités</h3>
    <button class="btn-simulation mx-auto">se projeter</button>
  </div>

  
  <a href="{{path("parc_immobilier")}}" class="col col-lg-5 text-light text-decoration-none">
    {# colonne parc immobilier #}
    <div class="background-proprietaire background-commun text-center">
      <h3 class="titre-h3">notre parc immobilier</h3>
      <h5>Achat - Location</h5>
      <button class="text-center btn-invest mt-5">Devenir propriétaire</button>
    </div>
  </a>

</div>

{% endblock %}