{% extends "bootstrap.html.twig" %}

{% block body %}

<div class="container text-light">
{# 1ère row*************************** #}
<div class="row ">

  {# colonne investissement locatif #}
  <div class="col col-lg-5 background-invest-loc background-commun">
    <h3 class="titre-h3">investissement locatif</h3>
      <input type="text" value="Revenus complémentaires" class="btn-invest">
  </div>

  {# colonne placements #}
  <div class="col col-lg-3  background-placements background-commun mb-2 text-center">
    <h3 class="titre-h3 padding-placements">placements</h3>
      <h5 class="text-light">SCPI</h5>
      <input type="text" value="Penser à ses proches" class="btn-placements mx-auto text-center">
  </div>

  
  <div class="col col-lg-3 ">
    {# colonne crédit #}
    <div class="background-credit background-commun">
        <h3 class="titre-h3 px-2">crédit</h3>
        <h5 class="text-light px-2">Rachat</h5>
        <input type="text" value="Des taux avantageux" class="btn-credit text-center mx-auto">
    </div>
    {# colonne parrainage #}
    <div class="background-parrainage background-commun mt-3 text-center">
        <input type="text" value="Recevez 500€" class="btn-parrainage mx-auto text-center">
      <h3 class="titre-h3 mt-5">parrainage</h3>
    </div>
  </div> 

</div>
{# fin de la 1ère row ******** #}

{### début 2ème row ###}
<div class="row">

  {# reduction d'impots #}
  <div class="col col-lg-4 background-impots background-commun">
    <h3 class="titre-h3 mt-5">réduction d'impôts</h3>
    <h5>Loi Pinel</h5>
    <input type="text" value="Faire fructifier ses impôts" class="text-center btn-invest">
  </div>
  {# simulation #}
  <div class="col col-lg-2 mx-2 background-simulation background-commun">
    <h3 class="titre-h3">simuler vos mensualités</h3>
    <h5>Loi Pinel</h5>
    <input type="text" value="Se projeter" class="text-center btn-simulation">
  </div>

  <div class="col col-lg-5 background-proprietaire background-commun text-center">
    <h3 class="titre-h3">résidence principale</h3>
    <h5>Achat - Location</h5>
    <input type="text" value="Devenir propriétaire" class="text-center btn-invest mt-5">
  </div>
  
</div>



</div>

{% endblock %}