{% extends "bootstrap.html.twig" %}

{% block body %}

<div class="container contour bg-light">
  <h1 class="display-5 text-center text-uppercase mt-3">investissement locatif</h1>
    <h4 class="color-title text-center">L’investissement locatif : une opportunité financière à la portée de tous ! </h4>
    <section class="offset-1 mt-4">
      {# <p class="fw-bold fs-5">Investir dans des biens immobiliers pour les louer et générer des revenus réguliers.</p> #}

    
      <h5 >Pourquoi opter pour l’investissement locatif ?</h5>
        <ul class="list-unstyled">
          <li>=> Faire croître votre patrimoine de manière intelligente et perenne</li>
          <li>=> Bénéficier de loyers mensuels stables</li>
          <li>=> Optimiser votre argent tout en assurant un flux de trésorerie régulier</li>
          <li>=> Avantages fiscaux : déduction des intérêts
          hypothécaires et des frais d’entretien.</li>
        </ul>
        <input type="submit" class="bouton shadow" value="Nos projets immobiliers">
    </section>

    <section class="offset-1 mt-4 mb-5">
      <h5 >Notre équipe à votre disposition</h5>
      <p class="text-decoration-underline">Nous vous accompagnons à chaque étape :</p>
      <ul class="list-unstyled">
        <li>=> Analyser le marché immobilier local pour identifier les opportunités d’investissement</li>
        <li>=> Financement : Explorer et déterminer les
        options de financement</li>
        <li>=> Simplifiez votre expérience en confiant la gestion locative à des professionnels qualifiés</li>
      </ul>
      <input type="submit" class="bouton shadow" value="Nous contacter">
    </section>

     

      

</div>


{% endblock %}