{% extends "bootstrap.html.twig" %}

{% block body %}

<div class="container contour bg-light">
  <h1 class="display-5 text-center text-uppercase mt-3">investissement locatif</h1>
    <h4 class="color-title text-center">L’investissement locatif : une opportunité financière à la portée de tous ! </h4>
    <section class="offset-1 mt-4">
        
      <div class="row">
        <div class="col">
          <h5 >Pourquoi opter pour l’investissement locatif ? <i class="bi bi-houses" style="color:#9225be;"></i></h5>
            <ul class="list-unstyled">
              <li>=> Faire croître votre patrimoine de manière intelligente et perenne</li>
              <li>=> Bénéficier de loyers mensuels stables</li>
              <li>=> Optimiser votre argent tout en assurant un flux de trésorerie régulier</li>
              <li>=> Avantages fiscaux : déduction des intérêts
              hypothécaires et des frais d’entretien.</li>
            </ul>
            <input type="submit" class="bouton py-2 " value="Nos projets immobiliers">
        </div>
        <div class="col apparaitre">
        <img src="images/building-container.jpg" alt="investissement locatif" class="w-100 px-3">
        </div>
       </div>
    </section>

    <div class="bg-secondary-subtle my-3 py-5">
      <p class="text-center fs-5">Investir dans des biens immobiliers pour les louer et <strong>générer des revenus réguliers</strong>, c'est <strong>s'assurer un confort financier</strong></p>
    </div>

    <section class="offset-1 mt-4 mb-5" style="text-align: justify;">
      <div class="row">
        <div class="col">
          <h5 >Notre équipe à votre disposition <i class="bi bi-people-fill" style="color: rgb(190, 151, 37)"></i></h5>
          <p class="text-decoration-underline">Nous vous accompagnons à chaque étape</p>
          <ul class="list-unstyled">
            <li>=> Analyser le marché immobilier local pour identifier les opportunités d’investissement</li>
            <li>=> Financement : Explorer et déterminer les
            options de financement</li>
            <li>=> Simplifiez votre expérience en confiant la gestion locative à des professionnels qualifiés</li>
          </ul>
          <input type="submit" class="bouton py-2" value="Nous contacter">
        </div>
        <div class="col apparaitre">
          <img src="images/equipe_femme.jpg" alt="equipe" class="w-100 px-3 ">
        </div>
      </div>    
    </section>
<hr>
    <section class="mt-4 mb-5" style="text-align: justify;">
    
      <h3 class="text-center pb-2 display-5">Nos partenaires</h3>
      <p class="mx-5">Grâce <strong>une vraie connaissance du métier</strong> et une relation privilégiée avec <strong>plus de 80 partenaires</strong> dans toutes la France, dont beaucoup de grands établissement de référence, <strong>Crédit & Finance</strong> vous offre les meilleurs taux .</p>
      
      <div class="row mx-2">
        <div class="col"><img src="images/societe-generale.svg" alt="sociéte générale" class="w-100 img-thumbnail"></div>
        <div class="col"><img src="images/generali-logo.svg" alt="generali" class="w-100 img-thumbnail"></div>
        <div class="col"><img src="images/Nouveau logo LCL.png" alt="LCL" class="w-100 img-thumbnail"></div>
        <div class="col"><img src="images/bnp-paribas.svg" alt="bnp paribas" class="w-100 img-thumbnail"></div>
        <div class="col"><img src="images/credit-agricole-4.svg" alt="crédit agricole" class="w-100 img-thumbnail"></div>
        <div class="col"><img src="images/caisse-d-epargne-1.svg" alt="caisse d'épargne" class="w-100 img-thumbnail"></div>
      </div>

    </section>

     

      

</div>


{% endblock %}