{% extends "bootstrap.html.twig" %}

{% block body %}

<div class="container contour bg-light">
  <h1 class="display-5 text-center text-uppercase mt-3">investissement locatif</h1>
    <h5 class="color-title text-center">L’investissement locatif : une opportunité financière à la portée de tous ! </h5>
    <section class="offset-1 mt-4">
        
      <div class="row">
        <div class="col-11 col-lg-6">
          <h4 class="border text-center mb-4">Pourquoi opter pour l’investissement locatif ? <i class="bi bi-houses fs-2" style="color:#9225be;"></i></h4>
            <ul class="list-unstyled">
              <li><h5><i class="bi bi-bar-chart text-danger"></i> Faire croître votre patrimoine de manière intelligente et perenne</h5></li><br>
              <li><h5><i class="bi bi-cash-stack text-success"></i> Bénéficier de loyers mensuels stables</h5></li><br>
              <li><h5><i class="bi bi-wallet2" style="color: #D1B256"></i> Optimiser votre argent tout en assurant un flux de trésorerie régulier</h5></li><br>
              <li><h5><i class="bi bi-calculator text-primary"></i> Avantages fiscaux : déduction des intérêts
              hypothécaires et des frais d’entretien.</h5></li>
            </ul>
            <input type="submit" class="py-2 fs-5" value="Nos projets immobiliers">
        </div>
        <div class="col apparaitre">
        <img src="images/building-container.jpg" alt="investissement locatif" class="w-100 p-3">
        </div>
       </div>
    </section>

    <div class="bg-secondary-subtle my-3 py-5">
      <p class="text-center fs-5">Investir dans des biens immobiliers pour les louer et <strong>générer des revenus réguliers</strong>, c'est <strong>s'assurer un confort financier</strong></p>
    </div>

    <section class="offset-1 mt-4 mb-5" style="text-align: justify;">
      <div class="row">
        <div class="col-11 col-lg-6">
          <h4 class="text-center border">Notre équipe à votre disposition <i class="bi bi-people-fill fs-2" style="color: rgb(190, 151, 37)"></i></h4>
          <h5 class="text-decoration-underline">Nous vous accompagnons à chaque étape</h5><br>
          <ul class="list-unstyled">
            <li><h5>Analyser le marché immobilier local pour identifier les opportunités d’investissement</h5></li><br>
            <li><h5>Financement : Explorer et déterminer les
            options de financement</h5></li><br>
            <li><h5>Simplifiez votre expérience en confiant la gestion locative à des professionnels qualifiés</h5></li>
          </ul>
          <input type="submit" class=" py-2 fs-5" value="Nous contacter">
        </div>
        <div class="col apparaitre">
          <img src="images/equipe_femme.jpg" alt="equipe" class="w-100 p-3">
        </div>
      </div>    
    </section>

  <div class="bg-secondary-subtle mb-5">
    <section class="offset-1 mt-4 mb-4 py-3">
      <h4>La garantie des meilleurs taux</h4>
      <div class="row">
        <div class="col-11 col-lg-7">
          <p style="text-align:justify">
            Le taux auquel vous empruntez est directement lié au prix que vous coûtera votre emprunt. Négocier 0,15% de moins sur le taux d’un prêt peut rapidement représenter des dizaines de milliers d’euros économisés, en particulier si votre emprunt court sur plus de 20 ans. Les conditions pour obtenir les meilleurs taux sont subjectives, et relèvent autant de relation de confiance avec la banque auprès de laquelle vous empruntez que de l’analyse pure et simple de votre situation. En tant que particulier, vous n’êtes pas nécessairement armé pour obtenir le meilleur taux, et donc le meilleur prix, pour votre emprunt. Crédit et Finance s’occupe de trouvez le meilleur taux auquel vous pouvez prétendre, en jouant sur toutes ses expertises
          </p>
        </div>
        <div class="col bg-light py-1 mx-4 d-flex align-items-center justify-content-center">
          <ul class="list-unstyled">
            <li><h4><i class="bi bi-currency-euro fs-2 text-success"></i> Taux fixe sur 10 ans -> 1.75% *</h4></li>
            <li><h4><i class="bi bi-hourglass-split fs-2 text-warning"></i> Délai de réponse -> 24H max</h4></li>
            <li><h4><i class="bi bi-clipboard-heart-fill fs-2" style="color: #FF72CE"></i> Taux de satisfaction -> 95%</h4></li>
          </ul>
        </div>
      </div>
      <p>*1.75% : meilleur taux obtenu sur un crédit d'une durée de 10ans</p>
    </section>
  </div> 

  <section class="" style="text-align:justify">
    <h3 class="p-2 border text-center mb-4"><i class="bi bi-lightbulb" style="color:#DEDD2D"></i> Choisir Crédit & Finance, c'est opter pour ...</h3>
    <div class="row row-cols-lg-3">
      <div class="col-sm-12 px-4">
        <h4 style="color:#24AA7A">... un service de qualité</h4>
        <p>Nous connaissons notre métier de courtier à la perfection. Et nous sommes conscients que votre confort et <strong>votre retour sur investissement sont les éléments les plus importants</strong> de notre relation. Nous vous apporterons le meilleur prix dans les meilleures conditions.
        </p>
      </div>
      <div class="col-sm-12 px-4">
        <h4 class="text-info">... une totale transparence</h4>
        <p>
        Notre positionnement de courtier nous permet de vous dévoiler les dessous du financement. Vous pourrez ainsi <strong>comprendre comment sont définis les taux d’intérêt</strong> auxquels vous pouvez emprunter, et constater que Crédit & Finance est là pour servir vos intêrets.
        </p>
      </div>
      <div class="col-sm-12 px-4">
        <h4 style="color:#AA24A2">... un accompagnement de A à Z</h4>
        <p>
        Votre confort tout au long de votre démarche d’investissement est tout aussi importante pour nous que le taux que nous allons pouvoir vous trouver. <strong>Disponibles, aimables et pédagogues</strong>, nous chercherons toujours à vous impliquer et vous expliquer.</p>
      </div>
    </div>
  </section> 

<hr>
    <section class="mt-4 mb-5" style="text-align: justify;">
    
      <h3 class="text-center pb-2 display-5">Nos partenaires</h3>
      <p class="mx-5">Grâce <strong>une vraie connaissance du métier</strong> et une relation privilégiée avec <strong>plus de 80 partenaires</strong> dans toutes la France, dont beaucoup de grands établissement de référence, <strong>Crédit & Finance</strong> vous offre les meilleurs taux .</p>
      
      <div class="row mx-2">
        <div class="col"><img src="images/societe-generale.svg" alt="sociéte générale" class="w-100 img-thumbnail"></div>
        <div class="col"><img src="images/generali-logo.svg" alt="generali" class="w-100 img-thumbnail"></div>
        <div class="col"><img src="images/Nouveau logo LCL.png" alt="LCL" class="w-100 img-thumbnail"></div>
        <div class="col"><img src="images/bnp-paribas.svg" alt="bnp paribas" class="w-100 img-thumbnail"></div>
        <div class="col"><img src="images/credit-agricole-4.svg" alt="crédit agricole" class="w-100 img-thumbnail"></div>
        <div class="col"><img src="images/caisse-d-epargne-1.svg" alt="caisse d'épargne" class="w-100 img-thumbnail"></div>
      </div>

    </section>

</div>


{% endblock %}