{% extends "bootstrap.html.twig" %}

{% block title %}Nos Placements{% endblock %}

{% block body %}

<div class="container contour bg-light mb-5">
  <h1 class="display-5 text-center text-capitalize mt-3">Nos Placements</h1>
    <h5 class="color-title text-center text-uppercase">être prévoyant, c'est anticiper </h5>


<div class="card-group container my-5">
<div class="row row-cols-1 row-cols-lg-3" style="text-align:justify">

 
  <a href="{{path("scpi")}}" class="card col text-decoration-none background-commun">
  <h4 class="text-center text-uppercase">scpi</h4>
    <img src="images/paris-beautiful-buildings.jpg" class="object-fit-cover" alt="scpi" style="height:300px;">
    <div class="card-body">
      <h5 class="card-title text-center border-bottom">L'immobilier sans ses contraintes</h5>
      <p class="card-text"> Permettre à plusieurs investisseurs de regrouper leurs fonds pour acquérir et gérer des biens immobiliers.
      </p>
      <div class="d-flex justify-content-center"><button class="bouton btn ">En savoir plus</button></div>
    </div>
  </a>
  
  <a href="{{path("assuranceVie")}}" class="card col text-decoration-none background-commun">
  <h4 class="text-center text-uppercase">Assurance-Vie</h4>
    <img src="images/main-sur-pied.jpg" class="object-fit-cover" alt="assurance vie" style="height:300px;">
    <div class="card-body">
      <h5 class="card-title text-center  border-bottom">Protéger ses proches</h5>
      <p class="card-text">
      Moyen d’épargne à moyen ou long terme qui permet de financer des projets, préparer sa retraite et transmettre son patrimoine.
      </p>
      <div class="d-flex justify-content-center"><button class="bouton btn ">En savoir plus</button></div>
      
    </div>
  </a>

  <a href="{{path("defiscalisation")}}" class="card col text-decoration-none background-commun">
  <h4 class="text-center text-uppercase">Défiscalisation</h4>
    <img src="images/proprio.jpg" class="object-fit-cover" alt="defiscalisation" style="height:300px;">
    <div class="card-body">
      <h5 class="card-title text-center border-bottom">Devenir propriétaire grâce à ses impôts</h5>
      <p class="card-text">Via la loi Pinel, Crédit & Finance permet aux particuliers d'investir leurs impôts sur le revenu en investissant dans des logements neufs.</p>
     <div class="d-flex justify-content-center"><button class="bouton btn ">En savoir plus</button></div>
    </div>
    </div>
  </div>
</div>


</div>


{% endblock %}