{% extends "bootstrap.html.twig" %}

{% block body %}

<div class="container contour bg-light">
  <h1 class="display-5 text-center text-uppercase mt-3"  id="retour">Notre parc immobilier</h1>
  <h5 class="color-title text-center">Votre futur patrimoine</h5>
    <div class="row row-cols-1 row-cols-md-3 g-4 mb-5 p-3">
      <div class="col">
        <div class="card h-100 anim background-commun">
          <img src="images/cuisine-marron.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <a href="" class="btn btn-info w-100" >Découvrir</a>
            <div class="card-text">
              <div class="row">
                <div class="col-4"><strong>Lieu :</strong></div>
                <div class="col">Paris</div>
              </div>
              <div class="row">
                <div class="col-4"><strong>Type :</strong></div>
                <div class="col">T3</div>
              </div>
              <div class="row">
                <div class="col-4"><strong>Surface :</strong> </div>
                <div class="col">90m2</div>
              </div>
              <div class="row">
                <div class="col-4"><strong>Prix :</strong></div>
                <div class="col">200 000 €</div>
              </div>
              <div class="row">
                <div class="col-4"><strong>Loyer :</strong></div>
                <div class="col">1200 € / mois</div>
              </div>
              <div class="row">
                <div class="col-4"><strong>Rentabilité :</strong></div>
                <div class="col"> 6% / an</div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <small class="text-body-secondary">Date de parution</small>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 anim background-commun">
          <img src="images/salon-blanc.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <a href="" class="btn btn-info w-100" >Découvrir</a>
            <div class="card-text">
              <div class="row">
                <div class="col-4"><strong>Lieu :</strong></div>
                <div class="col">Paris</div>
              </div>
              <div class="row">
                <div class="col-4"><strong>Type :</strong></div>
                <div class="col">Duplex</div>
              </div>
              <div class="row">
                <div class="col-4"><strong>Surface :</strong> </div>
                <div class="col">90m2</div>
              </div>
              <div class="row">
                <div class="col-4"><strong>Prix :</strong></div>
                <div class="col">200 000 €</div>
              </div>
              <div class="row">
                <div class="col-4"><strong>Loyer :</strong></div>
                <div class="col">1200 € / mois</div>
              </div>
              <div class="row">
                <div class="col-4"><strong>Rentabilité :</strong></div>
                <div class="col"> 6% / an</div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <small class="text-body-secondary">Date de parution</small>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 anim background-commun">    
          <img src="images/salon-brun.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <a href="" class="btn btn-info w-100" >Découvrir</a>
            <div class="card-text">
              <div class="row">
                <div class="col-4"><strong>Lieu :</strong></div>
                <div class="col">Paris</div>
              </div>
              <div class="row">
                <div class="col-4"><strong>Type :</strong></div>
                <div class="col">maison</div>
              </div>
              <div class="row">
                <div class="col-4"><strong>Surface :</strong> </div>
                <div class="col">90m2</div>
              </div>
              <div class="row">
                <div class="col-4"><strong>Prix :</strong></div>
                <div class="col">200 000 €</div>
              </div>
              <div class="row">
                <div class="col-4"><strong>Loyer :</strong></div>
                <div class="col">1200 € / mois</div>
              </div>
              <div class="row">
                <div class="col-4"><strong>Rentabilité :</strong></div>
                <div class="col"> 6% / an</div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <small class="text-body-secondary">Date de parution</small>
          </div>
        </div>  
    </div>
</div>
<div class="d-flex justify-content-center fs-1"><a href="#retour"><i class="bi bi-arrow-up-circle-fill arrow"></i></a>
</div>
{% endblock %}

